body {
  overscroll-behavior: none;
}

.page {
  background-attachment: fixed;
}

.content {
  background-color: white;
}

.search-container {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}

#search-box {
  width: 100%;
}

#stats {
  position: sticky;
  z-index: 5;
  top: 5.05rem;
  background-color: white;
}

.facets-container {
  height: 85vh;
  position: sticky;
  top: 5.05rem;
  display: none;
  overflow-y: auto;
}

.facet a {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-decoration: none;
}

.card {
  text-align: center;
}

.card .row .content-wrapper .rating-wrapper {
  justify-content: center;
}

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  width: fit-content;
}
.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: lightgray;
}
.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}
.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #ffab66;
}

.list-group-item.facet.refined {
  background-color: aqua;
}

@media screen and (min-width: 768px) {
  .facets-container {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .card {
    text-align: left;
  }

  .card .row .content-wrapper .rating-wrapper {
    justify-content: left;
  }
}
